@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  font-family: "Quicksand";
  color: #666;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: 600px;
  border-bottom: 2px solid lightskyblue;
}

.navbar h1 {
  color: lightskyblue;
}

.navbar .list {
  margin-left: auto;
}

.navbar a {
  text-decoration: none;
  margin-left: 10px;
  padding: 5px;
  transition: 0.4s ease;
}

a:hover {
  color: lightskyblue;
}

.home {
  max-width: 600px;
  margin: 0 auto;
}

.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

.blog-preview {
  padding: 10px 15px;
  margin: 10px 0;
  border-bottom: 1px solid #fafafa;
  transition: 0.3s ease;
  cursor: pointer;
}

.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.1);
}

.blog-preview h2 {
  font-size: 20px;
  color: lightskyblue;
  margin-bottom: 8px;
}

/*create */
.create{
  max-width: 400px;
  margin:0 auto;
}
.create h2 {
  font-size: 25px;
  color:lightskyblue;
  text-align: center;
}

.create label {
  display: block;
  text-align: left;
}

.create input, textarea, select {
  padding: 10px 15px;
  margin:20px auto;
  width: 100%;
  display: block;
  border-radius: 10px;
  border: 1px solid #999;
  outline: none;
}

.create button {
  display: block;
  margin: 10px auto;
  background-color:lightskyblue;
  color: white;
  border:none;
  border-radius: 10px;
  padding:10px 20px;
  font-size: 15px;
  cursor: pointer;
}
.create button:hover{
  background-color: rgb(51, 174, 250);
  transition: 0.4s ease;
}
